<menu>
  <Cellular cssClass="fa fa-mobile fa-lg fa-fw" VisibleName="Cellular" order="35">
      <Network cssClass="fa fa-sitemap" url="/ui/opncell/general" />
      <Users cssClass="fa fa-users fa-fw" url = "/ui/opncell/user"/>
      <FourG VisibleName="Diagnostics" cssClass="fa fa-medkit" order="55">
          <MMELogs VisibleName="mme log" url = "/ui/diagnostics/log/opncell/mme" />
          <UPFLogs VisibleName="upf log " url = "/ui/diagnostics/log/opncell/upf" />
          <SMFLogs VisibleName="smf log" url = "/ui/diagnostics/log/opncell/smf" />
          <SGWCLogs VisibleName="sgwc log" url = "/ui/diagnostics/log/opncell/sgwc"/>
          <SGWULogs VisibleName="sgwu log" url = "/ui/diagnostics/log/opncell/sgwu" />
          <HSSLogs VisibleName="hss log" url = "/ui/diagnostics/log/opncell/hss" />
          <PCRFLogs VisibleName="pcrf log" url = "/ui/diagnostics/log/opncell/pcrf" />
          <AMFLogs VisibleName="amf log" url = "/ui/diagnostics/log/opncell/amf"/>
          <SCPLogs VisibleName="scp log" url = "/ui/diagnostics/log/opncell/scp" />
          <AUSF VisibleName="ausf log " url = "/ui/diagnostics/log/opncell/ausf" />
          <BSF VisibleName="bsf log " url = "/ui/diagnostics/log/opncell/bsf" />
          <NRFLogs VisibleName="nrf log" url = "/ui/diagnostics/log/opncell/nrf" />
          <UDRLogs VisibleName="udr log" url = "/ui/diagnostics/log/opncell/udr" />
          <UDMLogs VisibleName="udm log" url = "/ui/diagnostics/log/opncell/udm" />
          <PCFLogs VisibleName="pcf log" url = "/ui/diagnostics/log/opncell/pcf" />
          <NSSF VisibleName="nssf log " url = "/ui/diagnostics/log/opncell/nssf" />
<!--          <Mongo VisibleName="mongo log" url = "/ui/diagnostics/log/opncell/mongod" />-->
      </FourG>
  </Cellular>
</menu>
