<menu>
  <Cellular cssClass="fa fa-mobile fa-lg fa-fw" VisibleName="Cellular" order="35">
      <Network cssClass="fa fa-sitemap" url="/ui/opncore/general" />
      <Users cssClass="fa fa-users fa-fw" url = "/ui/opncore/user"/>
      <FourG VisibleName="Diagnostics" cssClass="fa fa-medkit" order="55">
          <MMELogs VisibleName="mme log" url = "/ui/diagnostics/log/opncore/mme" />
          <UPFLogs VisibleName="upf log " url = "/ui/diagnostics/log/opncore/upf" />
          <SMFLogs VisibleName="smf log" url = "/ui/diagnostics/log/opncore/smf" />
          <SGWCLogs VisibleName="sgwc log" url = "/ui/diagnostics/log/opncore/sgwc"/>
          <SGWULogs VisibleName="sgwu log" url = "/ui/diagnostics/log/opncore/sgwu" />
          <HSSLogs VisibleName="hss log" url = "/ui/diagnostics/log/opncore/hss" />
          <PCRFLogs VisibleName="pcrf log" url = "/ui/diagnostics/log/opncore/pcrf" />
          <AMFLogs VisibleName="amf log" url = "/ui/diagnostics/log/opncore/amf"/>
          <SCPLogs VisibleName="scp log" url = "/ui/diagnostics/log/opncore/scp" />
          <AUSF VisibleName="ausf log " url = "/ui/diagnostics/log/opncore/ausf" />
          <BSF VisibleName="bsf log " url = "/ui/diagnostics/log/opncore/bsf" />
          <NRFLogs VisibleName="nrf log" url = "/ui/diagnostics/log/opncore/nrf" />
          <UDRLogs VisibleName="udr log" url = "/ui/diagnostics/log/opncore/udr" />
          <UDMLogs VisibleName="udm log" url = "/ui/diagnostics/log/opncore/udm" />
          <PCFLogs VisibleName="pcf log" url = "/ui/diagnostics/log/opncore/pcf" />
          <NSSF VisibleName="nssf log " url = "/ui/diagnostics/log/opncore/nssf" />
      </FourG>
  </Cellular>
</menu>
